[tools]
uv = "latest"
actionlint = "1.7.7"
action-validator = "0.6.0"
markdownlint-cli2 = "0.18.1"
yamlfmt = "0.17.0"
typos = "1.32.0"
yamllint = "1.37.1"
pre-commit = "4.2.0"
taplo = "0.9.3"
editorconfig-checker = "3.3.0"
"npm:wrangler" = "4.16.1"

[tasks."style:lint"]
description = "Linting"
run = """
mise exec yamllint -- yamllint .
mise exec actionlint -- actionlint
mise exec action-validator -- action-validator
mise exec markdownlint-cli2 -- markdownlint-cli2 .
mise exec taplo -- taplo lint pyproject.toml
mise exec typos -- typos .
"""

[tasks."style:format"]
description = "Run the formatters"
run = """
mise exec yamlfmt -- yamlfmt .
mise exec taplo -- taplo format .
"""
[tasks."style:ci"]
description = "CI tasks"
run = [{ task = "style:lint" }, { task = "style:format" }]

[tasks."docs:serve"]
description = "Serving Docs"
run = "uv run mkdocs serve"


[tasks."docs:build"]
description = "Building Docs"
depends = ["style:ci"]
run = "uv run mkdocs build --clean"
