[tools]
uv = "latest"
actionlint = "1.7.7"
action-validator = "0.6.0"
markdownlint-cli2 = "0.18.1"
yamlfmt = "0.17.0"
typos = "1.32.0"
yamllint = "1.37.1"
pre-commit = "4.2.0"
taplo = "0.9.3"
"pipx:mkdocs" = { version = "1.6.1", extras = "i18n", uvx_args = "--with-requirements requirements.txt" }
editorconfig-checker = "3.3.0"
"npm:wrangler" = "4.16.1"
"pipx:pymarkdownlnt" = "latest"


[tasks.lint]
description = "Linting"
run = """
mise exec yamllint -- yamllint .
mise exec actionlint -- actionlint
mise exec action-validator -- action-validator
mise exec markdownlint-cli2 -- markdownlint-cli2 .
mise exec taplo -- taplo lint pyproject.toml
mise exec typos -- typos .
"""


[tasks.format]
description = "Run the formatters"
run = """
mise exec yamlfmt -- yamlfmt .
mise exec taplo -- taplo format .
"""

[tasks.ci]
description = "CI tasks"
depends = ["lint", "format"]
run = "echo 'All style checks passed!'"


[tasks."docs:serve"]
description = "Serving Docs"
run = "mise exec pipx:mkdocs -- mkdocs serve"


[tasks."docs:build"]
description = "Building Docs"
depends = ["style:lint", "style:format"]
run = "mise exec pipx:mkdocs -- mkdocs build --clean"
