audomo
chrome-version
cookiecutter
copier
detect-secrets
fastapix
flit
frenchmaid
grip
hatch
hwid
memestra
pdm
pipenv
pipreqs
poethepoet
pyarmor
pygount
pyscript
requirements-builder
safety
twine
typer
uv
virtualenv
virtualenvwrapper
